/*Global*/
article {
	background-color : #2699FB;
}  

body {
	background-image : url("../img/background.png");
	max-width : 960px;
	height : 100%;
	margin : auto;
}

.button{
	background-color: #2699FB;
	color: #FFF;
	width : 100%;
	font-size : 4vw;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

form{
	padding: 10px;
	margin: 0;
}

form > p{
	margin: 0px;
}

fieldset{
	margin-top:15px;
	margin-bottom:15px;
	background-color : #FFF;
	padding: 4px;
    border-width: 2px;
    border-style: groove;
    border-image: initial;
	border-color: #AAA;
	font-family : ariel;
	font-size : 2.6vw;
}

fieldset > label{
	color : #777;
	margin-left : .3em;
	font-size : 2.6vw;
	width: 100%;
}

fieldset > select{
	width : 95%;
	float : right;
	color : #777;
	margin-left : .8em;
	margin-right : .8em;
	font-family : ariel;
	font-size : 2.6vw;
}

fieldset > input{
	width : 80%;
	height : 2em;
	margin-left : .3em;
	border: none;
	font-family : ariel;
	font-size : 2.6vw;
}

fieldset > textarea{
	width : 100%;
	height : 6em;
	border: none;
	font-family : ariel;
	font-size : 2.6vw;
}


fieldset.contactFormFieldset {
	padding : 0;
}

.formContainer{
	background-color : #EEE;
	border : solid 1px #fff;
	padding: 10px;
	padding-bottom: 0px;
}

.formMoreInfo{
	color : #777;
	margin:0;
}

footer {
	background-color : #000;
	color : #FFF;
	text-align : center;
}

.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
	margin: 0px;
}

.grid-container {
	display : grid;
	grid-template-columns: repeat(1, 100%);
}

.gridElement {
	width : 100% ;
	height : 200px;
	background-size : cover;
	background-position : 50% 50%;

	transition: all .2s ease-in-out;
}

.gridElement:hover {
	transform: scale(1.1);
}

.grid-container-products {
	background-color : #FFF;
	border : solid 1px #DDD;
	padding: 10px;

	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-gap: 1em;
	
	justify-content: center;
}

h1 {
	font-size : inherit;
}

h2 {
	font-size : inherit;
}

header {
	background-image : url("../img/companylogoBG.jpg");
	background-size : cover;
	height : 200px;
	background-repeat : no-repeat;
	background-position : 50% 50%;
	display : flex;
	justify-content : center;
	align-items : center;
	font-size : 10vw;
	font-family : berlin sans FB;
	-webkit-text-stroke: 0.1px #000;
	color: #FFF;
	text-shadow:
		0.01em 0.01em 0 #000,
		-0.05em -0.05em 0 #000,  
		0.05em -0.05em 0 #000,
		-0.05em  0.05em 0 #000,
		0.05em  0.05em 0 #000;
}

.hideOnMobile{
	display: block;
}

.imageContainer {
	display : block;
	background-size : cover;
	width : 100%;
	height : 400px;
	background-repeat : no-repeat;
	background-position : center;
	justify-content : center;
	align-items : center;
}

nav {
	background-color : #707070;
	outline: 0.1em solid #fff;
}

.navigationList {
	margin : 0 auto;
	list-style-type: none;
	padding : 0;
	overflow : hidden; 
	display : table;
}

.navigationList li {
	float : left;
}

.navigationList li a {
	display : block;
	color : #fff;
	text-align : center;
	padding-top : 0.1em;
	padding-bottom : 0.1em;
	padding-left : 1em;
	padding-right : 1em;
	text-decoration: none;
	font-family : ariel; 
	font-size : 1.5em;
}

.navigationList li a:hover {
	background-color : #AAA
}

.onlyShowOnDesktop{
	display : none;
}

.onlyShowOnMobile {
	display: none;
}

.onlyShowOnTablet{
	display:none
}

.pageContentBackground {
	background : #fff;
	max-width : 1000px;
	height : 100%;
	margin : auto;
}

/*Load in the images */
#product1 {
	background-image : url("../img/product1.png");
}

#product2 {
	background-image : url("../img/product2.png");
}

#product3 {
	background-image : url("../img/product3.png");
}

#product4 {
	background-image : url("../img/product4.png");
}

#product5 {
	background-image : url("../img/product5.png");
}

#product6 {
	background-image : url("../img/product6.png");
}

#product7 {
	background-image : url("../img/product7.png");
}

#product8 {
	background-image : url("../img/product8.png");
}

#product9 {
	background-image : url("../img/product9.png");
}

#product10 {
	background-image : url("../img/product10.png");
}

#product11 {
	background-image : url("../img/product11.png");
}

#product12 {
	background-image : url("../img/product12.png");
} 

/*Hamburger menu*/

#hamburgerMenu a
{
	text-decoration: none;
	color: #232323;

	transition: color 0.3s ease;
}

#hamburgerMenu a:hover
{
	color: 006CFF;
}

#hamburgerMenuToggle
{
	padding-top: 5px;
	padding-left: 5px;
	display: none;
	position: relative;
	height: 27px;
	z-index: 1;
	  
	-webkit-user-select: none;
	user-select: none;
}

#hamburgerMenuToggle input
{
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;

	cursor: pointer;

	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */

	-webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#hamburgerMenuToggle span
{
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;

	background: #cdcdcd;
	border-radius: 3px;

	z-index: 1;

	transform-origin: 4px 0px;

	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			  opacity 0.55s ease;
}

#hamburgerMenuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#hamburgerMenuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#hamburgerMenuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * Hide the middle one.
 */
#hamburgerMenuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * the last one should go the other direction
 */
#hamburgerMenuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#hamburgerMenu
{
  position: absolute;
  width: auto;
  margin: -32px 0 0 -35px;
  padding-top: 25px;
  padding-right: 10px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#hamburgerMenu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#hamburgerMenuToggle input:checked ~ ul
{
  transform: none;
}
/*End of hamburger menu*/


.textContainer {
  text-align : center;
  padding-top : 1%;
  padding-bottom : 1%; 
  padding-left : 20%;
  padding-right : 20%;
  font-family : ariel;
  font-size : 4vw;
  color : #FFF;
}

.textContainer p{
  margin : 0;
}

@media only screen and (max-width : 360px) {
/* for mobile */  
	.fullscreen-bg__video {
        display: none;
    }
	
	#verticalListContainer{
		display: none;
	}
	
	#hamburgerMenuToggle
	{
		display: block;
	}
	
	.grid-container-products {
		grid-template-columns: repeat(1, 100%);
	}
	
	.onlyShowOnMobile {
		display: block;
	}
	
	.hideOnMobile{
		display: none;
	}
	
	.formMoreInfo{
		display:none;
	}
	
	.grid-container{
		background-color : #FFF;
		border : solid 1px #DDD;
		padding: 10px;

		display: grid;
		grid-template-columns: repeat(1, 100%);
		grid-gap: 1em;
	}
}

@media only screen and (max-width : 960px) and (min-width : 360px) {
/* for tablet */  
	.fullscreen-bg__video {
        display : none;
    }
	
	.hideOnTablet {
		display : none;
	}
	.onlyShowOnTablet{
		display:block;
	}
	
	.grid-container-products {
		grid-template-columns: repeat(2, 50%);
	}
	
	.formMoreInfo{
		display:none;
	}
	
	.grid-container{
		background-color : #FFF;
		border : solid 1px #DDD;
		padding: 10px;

		grid-template-columns: repeat(2, 50%);
		grid-gap: 1em;
	}
}

@media only screen and (min-width : 960px) {
/* for desktop */  
	fieldset > select{
		width : 60%;
		float : right;
		color : #777;
		margin-left : .3em;
		margin-right : .3em;
		font-family : ariel;
		font-size : 2.6vw;
	}
	.fullscreen-bg__video {
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
	}
	
	.height400OnDesktop{
		height:400px;
	}
	
	.onlyShowOnDesktop{
		display:block;
	}
}